body {
    font-family: 'Black Ops One', sans-serif;
    font-size: 20px;
    color: #61FF00;
    margin: 0;
    padding: 0;
    scrollbar-width: none;  /* Firefox */
    background-color: #2d2d2d;  /* Dark gray background */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
}

#app {
    display: block;
    align-items: center;
    text-align: center;
    background-color: #2d2d2d;  /* Dark gray background */
}

.container {
    display: block;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    max-width: none;
    background-color: #2d2d2d;  /* Dark gray background */
}

#books, #chapters, #verses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-box, .chapter-box, .verse-box, .search-box {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 0;
    cursor: pointer;
    background-color: white;
    position: relative;
    border: none; /* Ensure no border */
    box-shadow: none; /* Remove any box shadow */
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%); /* Create clipped bottom-right corner */
}

.book-box:focus, .chapter-box:focus, .verse-box:focus, .search-box:focus {
    outline: none; /* Remove the default focus outline */
}

.reload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Ensure relative positioning for absolute child */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.search-field-box, .begin-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
